In [52]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, MetaData
from sqlalchemy import text

In [53]:
stations_df = pd.read_csv('clean_stations.csv')
measurements_df = pd.read_csv('clean_measure.csv')

In [54]:
engine = create_engine('sqlite:///database.db', echo=True)
meta = MetaData()

In [55]:
stations = Table(
    'stations', meta,
    Column('id', Integer, primary_key=True),
    Column('station', String),  
    Column('latitude', Float),
    Column('longitude', Float),
    Column('elevation', Float),
    Column('name', String),
    Column('country', String),
    Column('state', String),
)

measurements = Table(
    'measurements', meta,
    Column('id', Integer, primary_key=True),
    Column('station', String),  
    Column('date', String),  
    Column('precip', Float),
    Column('tobs', Float),
)

In [56]:
meta.create_all(engine)

2024-11-11 22:40:55,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 22:40:55,427 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stations")
2024-11-11 22:40:55,429 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:55,430 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("measurements")
2024-11-11 22:40:55,431 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:55,432 INFO sqlalchemy.engine.Engine COMMIT

In [57]:
conn = engine.connect()

In [58]:
stations_df.to_sql('stations', conn, if_exists='replace', index=False)

2024-11-11 22:40:56,033 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 22:40:56,036 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stations")
2024-11-11 22:40:56,037 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,037 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stations")
2024-11-11 22:40:56,038 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,040 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-11 22:40:56,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,042 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-11 22:40:56,043 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,044 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("stations")
2024-11-11 22:40:56,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,045 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,046 INFO sqlalchemy.engine.Engine [raw sql] ('stations',)
2024-11-11 22:40:56,047 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("stations")
2024-11-11 22:40:56,048 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,049 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("stations")
2024-11-11 22:40:56,049 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,050 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,050 INFO sqlalchemy.engine.Engine [raw sql] ('stations',)
2024-11-11 22:40:56,052 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stations")
2024-11-11 22:40:56,052 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,053 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stations")
2024-11-11 22:40:56,054 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,054 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stations")
2024-11-11 22:40:56,055 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,055 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("stations")
2024-11-11 22:40:56,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,056 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("stations")
2024-11-11 22:40:56,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,058 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stations")
2024-11-11 22:40:56,058 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,060 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,060 INFO sqlalchemy.engine.Engine [raw sql] ('stations',)
2024-11-11 22:40:56,063 INFO sqlalchemy.engine.Engine
DROP TABLE stations
2024-11-11 22:40:56,064 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2024-11-11 22:40:56,068 INFO sqlalchemy.engine.Engine
CREATE TABLE stations (
	station TEXT,
	latitude FLOAT,
	longitude FLOAT,
	elevation FLOAT,
	name TEXT,
	country TEXT,
	state TEXT
)


2024-11-11 22:40:56,069 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2024-11-11 22:40:56,073 INFO sqlalchemy.engine.Engine INSERT INTO stations (station, latitude, longitude, elevation, name, country, state) VALUES (?, ?, ?, ?, ?, ?, ?)
2024-11-11 22:40:56,074 INFO sqlalchemy.engine.Engine [generated in 0.00117s] [('USC00519397', 21.2716, -157.8168, 3.0, 'WAIKIKI 717.2', 'US', 'HI'), ('USC00513117', 21.4234, -157.8015, 14.6, 'KANEOHE 838.1', 'US', 'HI'), ('USC00514830', 21.5213, -157.8374, 7.0, 'KUALOA RANCH HEADQUARTERS 886.9', 'US', 'HI'), ('USC00517948', 21.3934, -157.9751, 11.9, 'PEARL CITY', 'US', 'HI'), ('USC00518838', 21.4992, -158.0111, 306.6, 'UPPER WAHIAWA 874.3', 'US', 'HI'), ('USC00519523', 21.33556, -157.71139, 19.5, 'WAIMANALO EXPERIMENTAL FARM', 'US', 'HI'), ('USC00519281', 21.45167, -157.84888999999998, 32.9, 'WAIHEE 837.5', 'US', 'HI'), ('USC00511918', 21.3152, -157.9992, 0.9, 'HONOLULU OBSERVATORY 702.2', 'US', 'HI'), ('USC00516128', 21.3331, -157.8025, 152.4, 'MANOA LYON ARBO 785.2', 'US', 'HI')]
2024-11-11 22:40:56,076 INFO sqlalchemy.engine.Engine COMMIT

9

In [59]:
measurements_df.to_sql('measurements', conn, if_exists='replace', index=False)

2024-11-11 22:40:56,278 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 22:40:56,280 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("measurements")
2024-11-11 22:40:56,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,282 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("measurements")
2024-11-11 22:40:56,283 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,284 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-11 22:40:56,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,286 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-11-11 22:40:56,287 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,288 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("measurements")
2024-11-11 22:40:56,289 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,289 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,290 INFO sqlalchemy.engine.Engine [raw sql] ('measurements',)
2024-11-11 22:40:56,291 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("measurements")
2024-11-11 22:40:56,291 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,291 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("measurements")
2024-11-11 22:40:56,291 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,291 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,293 INFO sqlalchemy.engine.Engine [raw sql] ('measurements',)
2024-11-11 22:40:56,294 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("measurements")
2024-11-11 22:40:56,295 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,295 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("measurements")
2024-11-11 22:40:56,296 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,297 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("measurements")
2024-11-11 22:40:56,297 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,298 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("measurements")
2024-11-11 22:40:56,299 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,299 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("measurements")
2024-11-11 22:40:56,300 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,300 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("measurements")
2024-11-11 22:40:56,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-11 22:40:56,302 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-11-11 22:40:56,302 INFO sqlalchemy.engine.Engine [raw sql] ('measurements',)
2024-11-11 22:40:56,304 INFO sqlalchemy.engine.Engine
DROP TABLE measurements
2024-11-11 22:40:56,304 INFO sqlalchemy.engine.Engine [no key 0.00064s] ()
2024-11-11 22:40:56,310 INFO sqlalchemy.engine.Engine
CREATE TABLE measurements (
	station TEXT,
	date TEXT,
	precip FLOAT,
	tobs BIGINT
)


2024-11-11 22:40:56,310 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2024-11-11 22:40:56,361 INFO sqlalchemy.engine.Engine INSERT INTO measurements (station, date, precip, tobs) VALUES (?, ?, ?, ?)
2024-11-11 22:40:56,362 INFO sqlalchemy.engine.Engine [generated in 0.03309s] [('USC00519397', '2010-01-01', 0.08, 65), ('USC00519397', '2010-01-02', 0.0, 63), ('USC00519397', '2010-01-03', 0.0, 74), ('USC00519397', '2010-01-04', 0.0, 76), ('USC00519397', '2010-01-06', 0.0, 73), ('USC00519397', '2010-01-07', 0.06, 70), ('USC00519397', '2010-01-08', 0.0, 64), ('USC00519397', '2010-01-09', 0.0, 68)  ... displaying 10 of 19550 total bound parameter sets ...  ('USC00516128', '2017-08-22', 0.5, 76), ('USC00516128', '2017-08-23', 0.45, 76)]
2024-11-11 22:40:56,387 INFO sqlalchemy.engine.Engine COMMIT

19550

In [60]:
result = conn.execute(text("SELECT * FROM stations LIMIT 5")).fetchall()
print("Stations data (first 5 rows):")
for row in result:
    print(row)

2024-11-11 22:40:56,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-11 22:40:56,543 INFO sqlalchemy.engine.Engine SELECT * FROM stations LIMIT 5
2024-11-11 22:40:56,544 INFO sqlalchemy.engine.Engine [generated in 0.00133s] ()
Stations data (first 5 rows):
('USC00519397', 21.2716, -157.8168, 3.0, 'WAIKIKI 717.2', 'US', 'HI')
('USC00513117', 21.4234, -157.8015, 14.6, 'KANEOHE 838.1', 'US', 'HI')
('USC00514830', 21.5213, -157.8374, 7.0, 'KUALOA RANCH HEADQUARTERS 886.9', 'US', 'HI')
('USC00517948', 21.3934, -157.9751, 11.9, 'PEARL CITY', 'US', 'HI')
('USC00518838', 21.4992, -158.0111, 306.6, 'UPPER WAHIAWA 874.3', 'US', 'HI')

In [61]:
result = conn.execute(text("SELECT * FROM measurements LIMIT 5")).fetchall()
print("\nMeasurements data (first 5 rows):")
for row in result:
    print(row)

2024-11-11 22:40:56,808 INFO sqlalchemy.engine.Engine SELECT * FROM measurements LIMIT 5
2024-11-11 22:40:56,809 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ()

Measurements data (first 5 rows):
('USC00519397', '2010-01-01', 0.08, 65)
('USC00519397', '2010-01-02', 0.0, 63)
('USC00519397', '2010-01-03', 0.0, 74)
('USC00519397', '2010-01-04', 0.0, 76)
('USC00519397', '2010-01-06', 0.0, 73)

In [62]:
conn.close()

2024-11-11 22:40:57,071 INFO sqlalchemy.engine.Engine ROLLBACK